body {
  background-color: Black;
  margin: 0;
  font-family: sans-serif;
}

header {
  position: relative;
  width: 100%;
  padding-bottom: 55px;
}

.logo {
  position: absolute;
  top: 5px;
  left: 65px;
  color: pink;
  border-radius: 50%;
  width: 45px;

}

.basket-box {
  position: absolute;
  top: 5px;
  right: 65px;
  background-color: Pink;
  border: none;
  color: Black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

.basket-box:hover {
  box-shadow: 0 0px 10px 0 pink,
    0 0px 10px 0 pink;
}

#main-view {
  position: relative;
  height: 100%;
}

.category-menu {
  position: relative;
  left: 20px;
  color: pink;
  float: left;
  width: 30%;
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
}

.category-menu span {
  font-size: 30px;
}

.category-menu a {
  padding-left: 20px;
  color: pink;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 24px;
}

.category-menu a:hover {
  color: rgba(255, 123, 189, 0.993)
}

#main-view h2 {
  position: relative;
  top: 65px;
  width: 100%;
  float: left;
  Color: pink;
  text-align: center;
}

.product-box {
  background-color: pink;
  position: absolute;
  top: 12px;
  right: 135px;
  width: 70%;
  display: block;
  text-align: center;
}

.product-box p {
  margin: 15px;
  font-family: sans-serif;
}

.product-box h3 {
  text-align: center;
  color: black;
  padding-top: 10px;
  font-family: sans-serif;
}

.product-box a:hover {
  font-family: sans-serif;
  color: rgba(255, 123, 189, 0.993)
}

.product-box img {
  padding: 10px;
  float: left;
  width: 20%;
  border-radius: 30%;
}

.product-box button {
  margin-bottom: 10px;
  background-color: Black;
  border: none;
  color: Pink;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;

}

.product-box button:hover {

  box-shadow: 0 0px 10px 0 black,
    0 0px 10px 0 black;

}

.product-menu {
  background-color: pink;
  position: relative;
  right: 85px;
  margin: 50px;
  float: right;
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

}

.product-item {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  background-color: black;
  flex-basis: 30%;
  text-align: center;
}

.product-item span {
  color: Pink;
  display: block;
  word-wrap: break-word;
  width: 90%;
  margin: 15px;
  font-family: sans-serif;
}

.product-item a {
  text-decoration: none;
  color: Pink;
  display: block;
  word-wrap: break-word;
  margin: 15px;
  font-family: sans-serif;
}

.product-item a:hover {
  display: block;
  word-wrap: break-word;
  margin: 15px;
  font-family: sans-serif;
  color: rgba(255, 123, 189, 0.993)
}

.product-item img {
  padding-top: 10px;
  float: top;
  width: 90%
}

.product-item button {
  margin-bottom: 10px;
  background-color: Pink;
  border: none;
  color: Black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;

}

.product-item button:hover {

  box-shadow: 0 0px 10px 0 Pink,
    0 0px 10px 0 Pink;

}
